
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReporteIndex</title>
    <link rel="stylesheet" href="../../css/bulma.css">
    <link rel="stylesheet" href="../../css/estilos.css">
</head>
<body>
    <div class="container">
        <img src="../../img/construccion.png" alt="Fondex papu"/>
    </div>
</body>
</html>
