.c-estudiante {
    border: 1px solid #f1f1f1;
    padding: 1em;
}

.data-estudianteList {
    list-style: none !important;
}

.data-title {
    display: inline-block;
    width: 300px;
}

.data-estudiante {
    font-weight: normal;
}

.c-adecuacion {
    border: 1px solid #f1f1f1;
    padding: 1em;
}

.c-equivalencias {
    border: 1px solid #f1f1f1;
    padding: 1em;
}