
@{
    ViewBag.Title = "Index";
}

<div class="inicio-img">
    <div class="opaque">
        <h1>SISTEMA WEB DE ADECUACION DE PLANES DE ESTUDIOS</h1>
        <p>Dirección de la Escuela Profesional de Ingeniería de Sistemas</p>
    </div>
</div>



